<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Login</title>
</head>
<body>
<div class="bg-image">
    <img th:src="@{/images/bg-original.jpg}" alt="Image">
</div>
<div class="box">
    <span class="borderLine"></span>
    <form action="#" th:action="@{/authenticateTheUser}" method="post">
        <h2>Sign in</h2>
        <div class="error" th:if="${param.error}">
            <i>Sorry! You entered bad credentials.</i>
        </div>
        <div class="success" th:if="${param.logout}">
            <i>You've been successfully logged out.</i>
        </div>
        <div class="inputBox">
            <input type="text" name="username" required>
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required>
            <span>Password</span>
            <i></i>
        </div>
        <div class="links">
            <a href="#">Forgot Password</a>
            <a href="#">Signup</a>
        </div>
        <input type="submit" id="submit" value="Login">
    </form>
</div>
</body>
</html>