<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>You know this man?</h4>
<div class="tenor-gif-embed" data-postid="14595528" data-share-method="host" data-aspect-ratio="1.34454"
     data-width="50%"><a href="https://tenor.com/view/loki-ive-never-met-this-man-smiling-thor-ragnarok-gif-14595528">Loki
    Ive Never Met This Man GIF</a>from <a href="https://tenor.com/search/loki-gifs">Loki GIFs</a></div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<p>
    <a href="/">Go back home</a>
</p>
</body>
</html>